body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn{
	font-family: 'Satisfy', cursive;
	color: blue;
	font-size: 24px;
	font-weight: 900;
}
label{
	color: blue;
}